<div class="container">
  <div class="panel">
    <div class="panel__header">
      <div class="panel__header--left">
        <h2>List Name<span class="panel-header-num">{{ newPanelNum }}</span></h2>
        <p class="p-muted">Total <span class="total-panels">3</span></p>
      </div>
      <div class="panel__header--right">
        <div class="panel__header--button-add" (click)="addPanel()"></div>
          <div class="panel__header--button-chevron" (click)="toggleItems()"></div>
      </div>
    </div>

    <div class="panel-list">

      <div class="panel__body">
        <div class="panel__body--controls-activated">
          <div class="panel__body--controls-trash"></div>
          <div class="panel__body--controls-cloud"></div>
        </div>
        <div class="panel__body--border-left">
          <div class="logo-container">
            <img class="logo" src="assets/images/logo-1.png">
          </div>
          <div class="panel__body--text">
            <h3>Curabitur rutrum ut</h3>
            <p>Vivamus quis enim vitae est</p>
            <p class="elipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <p>
              <img src="assets/images/calendar-icon.gif" alt="logo one">
              {{ nd }}
            </p>
          </div>
          <div class="panel__body--controls">
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <div class="panel__body">
        <div class="panel__body--controls-activated">
          <div class="panel__body--controls-trash" (click)="deletePanel()"></div>
          <div class="panel__body--controls-cloud" (click)="closeNav()"></div>
        </div>
        <div class="panel__body--border-left new">
          <div class="logo-container">
            <img class="logo" src="assets/images/logo-1.png">
          </div>
          <div class="panel__body--text">
            <h3>Curabitur rutrum ut</h3>
            <p>Vivamus quis enim vitae est</p>
            <p class="elipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <p>
              <img src="assets/images/calendar-icon.gif" alt="logo one">
              {{ nd }}
            </p>
          </div>
          <div class="panel__body--controls" (click)="openNav()">
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <div class="panel__body">
        <div class="panel__body--controls-activated">
          <div class="panel__body--controls-trash" (click)="deletePanel()"></div>
          <div class="panel__body--controls-cloud" (click)="closeNav()"></div>
        </div>
        <div class="panel__body--border-left">
          <div class="logo-container">
            <img class="logo" src="assets/images/logo-1.png">
          </div>
          <div class="panel__body--text">
            <h3>Curabitur rutrum ut</h3>
            <p>Vivamus quis enim vitae est</p>
            <p class="elipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
            <p>
              <img src="assets/images/calendar-icon.gif" alt="logo one">
              {{ nd }}
            </p>
          </div>
          <div class="panel__body--controls" (click)="openNav()">
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>



    <div class="panel__footer">
      <a href="#" class="load-more" (click)="addPanel()">Load more</a>
    </div>
  </div>
</div>

